body {
    min-height: 800px;
}

.navbar {
	background-color: #8DC540;
}

.dln-welcome-image {
    background: url('../assets/header.jpg');
    height: 400px;
}

.dln-course-iframe {
    width: 800px;
    height: 700px; 
    border: 0px;
    text-align: center;
}

.dln-course-content {
	display: block;
    text-align: center;
}
