.navbar {
	background-color: #8DC540;
}

.welcome-header {
    background: url('../assets/header.jpg');
    height: 400px;
}

.course-iframe {
    width: 800px;
    height: 700px; 
    border: 0px;
    display: block;
    tet-align: center;
}
