body {
    min-height: 800px;
    background-color: #eee;
}

.navbar {
    background-color: #444;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #eee;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #AFE762;
}

/* Hover colours in navbar */
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color: #999;
    background-color: transparent;
}

.dln-jumbotron {
}

.dln-welcome-container {
    background-color: #eee;
    text-align: center;
}

.dln-welcome-image {
    border: thin solid #444;
    width: 90%;
    margin: 5px;
    box-shadow:  2px 2px 1px #888888;
}

.dln-course-iframe {
    height: 700px; 
    border: 0px;
    text-align: center;
}

.dln-course-content {
	display: block;
    text-align: center;
}

.normal-width {
    width: 1000px;
}

.narrow-width {
    width: 800px;
}

#dln-footer {
    padding-bottom: 3em;
}

.dropdown-submenu.active>.dropdown-menu {
    display: block;
}

.dropdown-submenu.active>a:after {
    border-left-color: #fff;
}