<div class="container">
  <h4>Copyright Information</h4>

    <p>All print and web-based materials produced by Moving On Up are the copyright property of the Dartmouth Learning Network and the Adult Education Division of the Nova Scotia Department of Labour and Advanced Education.</p>

    <p>The following are permitted to use and reproduce these resources for classroom purposes, provided that full credit and acknowledgement is prominently given to the Dartmouth Learning Networking and the Nova Scotia Department of Labour and Advanced Education as the source:
    <ul>
        <li>Nova Scotia instructors delivering the Nova Scotia Adult Learning Program</li>
        <!-- TODO: reinstate once there is Dept of Ed buy-in li>Canadian public school teachers delivering public school curriculum</li -->
        <li>Canadian non-profit tuition-free adult basic education programs</li>
        <li>Individuals</li> 
      </ul>
    </p>

    <p>Individuals, not including teachers or instructors, are permitted to use this resource for their own learning. They are not permitted to make multiple copies of the resource for distribution. Nor are they permitted to use this resource under the direction of a teacher or instructor at a learning institution.</p>

    <p>Non-profit organizations may link directly to any of the web-based resources on Moving On Up; however, they may not post our resources directly on their own website.</p>

    <p>The following are <strong>not permitted</strong> to use or reproduce these resources without the written authorization of the Adult Education Division of the Nova Scotia Department of Labour and Advanced Education:
      <ul>
        <li>Upgrading programs at post-secondary institutions</li>
        <li>Core programs at post-secondary institutions</li>
        <li>Public or private schools outside of Canada</li>
        <li>Basic adult education programs outside of Canada</li>
      </ul>
    </p>

</div>