<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="root">Moving On Up</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Subjects -->
        <li class="dropdown" ng-repeat="subject in subjects">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{subject.name}} <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <!-- Levels -->
            <li class="dropdown-submenu dropdown-submenu-level-1" ng-repeat="level in subject.levels">
              <a class="dropdown-toggle" data-toggle="dropdown">{{level.name}}</a>

              <ul class="dropdown-menu">
                <!-- Modules -->
                <li class="dropdown-submenu dropdown-submenu-level-2" ng-repeat="module in level.modules">
                  <a class="dropdown-toggle" data-toggle="dropdown">{{module.name}}</a>

                  <ul class="dropdown-menu">
                    <!-- Lessons -->
                    <li ng-repeat="lesson in module.lessons">
                      <a ui-sref="root.course({ subject: '{{subject.urlParam}}', module: '{{module.urlParam}}', lesson: '{{lesson.urlParam}}' })">{{lesson.name}}</a>
                    </li>
                    <li>
                      <a><em>More to come...</em></a>
                    </li><!-- /Lessons -->
                  </ul> 
                </li>
                <li>
                  <a><em>More to come...</em></a>
                </li><!-- /Modules -->
              </ul> 
            </li> <!-- /Levels -->
          </ul> 
        </li> <!-- /Subjects -->
      </ul>
          
            
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="root.resources" class="navbar-right navbar-link">Resources</a></li>
        <li><a ui-sref="root.contact" class="navbar-right navbar-link">Contact Us</a></li>
        <li>
          <a id="navbar-about" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="root.centres">Find a Community-based Learning Organization</a></li>
            <li><a ui-sref="root.copyright">Copyright</a></li>
          </ul>
        </li>
        <li><a href="https://www.facebook.com/pages/Moving-On-Up/1699325486965922" target="_blank" class="navbar-link"><img src="/assets/16-facebook.png" class="social-button"/></a></li>
        <li><a href="https://twitter.com/DLN_MovingOnUp" target="_blank" class="navbar-link"><img src="/assets/16-twitter.png" class="social-button"/></a></li>
        <li><a href="https://www.youtube.com/channel/UCLxxwIVI78NGb2p-Xu5vN-w" target="_blank" class="navbar-link"><img src="/assets/16-youtube.png" class="social-button"/></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>




<!-- <ul>
  <li ng-repeat="subject in subjects">
    <a>{{subject.name}}</a>
    <ul>
      <li ng-repeat="level in subject.levels">
        <a>{{level.name}}</a>
        <ul>
          <li ng-repeat="module in level.modules">
            <a>{{module.name}}</a>
            <ul>
              <li ng-repeat="lesson in module.lessons">
                <a ui-sref="root.course({ subject: '{{subject.urlParam}}', module: '{{module.urlParam}}', lesson: '{{lesson.urlParam}}' })">{{lesson.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>